:root {
    --Montserrat-font: Montserrat, sans-serif;
    --Roboto-font: Roboto, sans-serif;
    --Sen-font: Sen, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



/*=============================== 
            NAVBAR 
================================*/
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
.nav.active{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.nav.show{
    box-shadow: none;
    background: none;
}
.nav.active .menu__item{
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 18px 10px;
}


.logo {
    margin-top: -30px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list li {
    margin: 0 .7rem;
}

.menu__item {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #fff;
    letter-spacing: 0.4px;
    transition: all 0.6s ease;
    font-family: var(--Roboto-font);
}
.menu__item:hover{
    color: #cb966a;
}


/*====================================
            HAMBURGER 
=====================================*/

.hamburger {
    position: relative;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    display: none;
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background: #cb966a;
    border-radius: 6px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.hamburger.active span{
    background: #cb966a;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
    top: 10px;
}

.hamburger span:nth-child(4) {
    top: 20px;
}

.hamburger.open span:nth-child(1) {
    top: 10px;
    opacity: 0;
}

.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger.open span:nth-child(4) {
    top: 10px;
    opacity: 0;
}

.mobile__menu-list {
    display: none;
}


.indicator {
    width: 100%;
    height: 1.5px;
}
.indicator.active{
    display: none;
}

.indicator .progress__bar {
    height: 1.5px;
    width: 0%;
    background-color:#e4002b;
}


/*===============================
        MEDIA QUERY 
===============================*/

@media(max-width:768px) {
    
    .nav {
        z-index: 99999;
    }

    .mobile__menu-list {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f4f4f4;
        z-index: 9999;
        display: none;
    }

    .mobile__menu-list.active{
        display: block;
    }

    .mobile__menu-list ul {
        padding-top: 4rem;
        text-align: center;
    }

    .mobile__menu-list ul li {
        margin: 4rem 0;
    }

    .mobile__menu-list ul li a {
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-transform: uppercase;
    }
    .mobile__menu-list ul li a:hover{
        color: #cb966a;
    }

    .menu__list {
        display: none;
    }

    .hamburger {
        display: block;
    }
}




